doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main.css")
        title Document
    body 
      header
            nav
                ul
                    li
                        a(href="/") Home
                    li#login
                        a(href="/login") Login
                    li
                        a(href="/register") Register
        main
          div.container
            div.box
              h1 Login 
                form(action="/register", method="POST")
                  label(for="username") Username
                  input(type="username", placeholder="Enter Username") 
                  label(for="email") Email
                  input(type="email", placeholder="Enter Email") 
                  label(for="password") Password
                  input(type="password", placeholder="Enter Password") 
                  label(for="dateOfBirth") Date of birth
                  input(type="dateOfBirth", placeholder="Enter Date of birth") 
                  input(type="submit", value="Register")
            